body {
    background:url('ferrari.png');
    background-position-x: center;
	background-position-y: center;
	background-size: cover;
 	background-repeat: no-repeat;
  	margin: 0;
  	height: 100vh;
	width:100%;
    overflow: hidden;
}

a {  
    display: flex;
    flex-direction: column;
    color:blanchedalmond;
    text-decoration: none;
}
.contenedor {
    position: relative;
    width: 100%;
    height: 100vh;
}

.topleft {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
 
.topleft img:hover {
    transform:scale(1.5);
    transition: all 0.4s;
}

.topright {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
  
   
.topright img:hover {
    transform:scale(1.5);
    transition: all 0.4s;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 3%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

.bottomleft img:hover {
    transform:scale(1.5);
    transition: all 0.4s;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right: 3%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

.bottomright img:hover {
    transform:scale(1.5);
    transition: all 0.4s;
}

.center {
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
.center img:hover {
    transform:scale(1.5);
    transition: all 0.4s;
}
  img { 
    width: 150px;
    height: auto;
  }



